@charset "UTF-8";
.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.spaced-by-ten {
  margin: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}

.align-items-left {
  align-items: flex-start;
}

.max-width-three-hundred-pixels {
  max-width: 300px;
}

.max-width-six-hundred-pixels {
  max-width: 600px;
}

.occupy-all-width {
  width: 100%;
}

.no-margin-override {
  margin: 0 !important;
}

.minimum-height-carousel {
  min-height: 775px;
}

.customRow {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.row-reverse {
  flex-direction: row-reverse;
}

.main-object-center {
  justify-content: center;
  margin-top: 50px;
}

header {
  background-color: rgba(173, 40, 49, 0.9);
  /*height:  15%;*/
  justify-content: space-between;
  position: sticky;
  z-index: 3;
  top: 0px;
}

header img {
  height: 50px;
  width: 100px;
}

footer {
  background-color: rgba(173, 40, 49, 0.5);
  height: 7%;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.product-item {
  height: 175px;
  width: 175px;
  background-color: rgba(173, 40, 49, 0.5);
  margin: 20px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: 1.5s ease-in-out;
  overflow: hidden;
}
.product-item:hover {
  transition-delay: 0.3s;
  background-color: rgba(37, 9, 2, 0.5);
}
.product-item:hover .product-description {
  opacity: 1;
  font-size: small;
}
.product-item:hover p {
  opacity: 0;
  font-size: 0;
}
.product-item:hover .product-image {
  opacity: 0.5;
  position: absolute;
}

.product-item p {
  text-align: center;
  transition: 0.5s ease;
}

.product-description {
  opacity: 0;
  font-size: 0;
  z-index: 2;
}

.product-number-1 {
  position: relative;
  width: 80%;
  height: 80%;
  background-image: url("../images/products/vino_blanco_chardonnay.png");
  background-size: cover;
  border-radius: 20px;
  transition: 0.3s ease;
  color: rgba(1, 1, 1, 0);
}
.product-number-1:hover {
  z-index: 1;
  border-radius: 5px;
}

.product-number-2 {
  position: relative;
  width: 80%;
  height: 80%;
  background-image: url("../images/products/vino_blanco_riesling.png");
  background-size: cover;
  border-radius: 20px;
  transition: 0.3s ease;
  color: rgba(1, 1, 1, 0);
}
.product-number-2:hover {
  z-index: 1;
  border-radius: 5px;
}

.product-number-3 {
  position: relative;
  width: 80%;
  height: 80%;
  background-image: url("../images/products/vino_blanco_sauvignon_blanc.png");
  background-size: cover;
  border-radius: 20px;
  transition: 0.3s ease;
  color: rgba(1, 1, 1, 0);
}
.product-number-3:hover {
  z-index: 1;
  border-radius: 5px;
}

.product-number-4 {
  position: relative;
  width: 80%;
  height: 80%;
  background-image: url("../images/products/vino_espumante_brut_rosé.png");
  background-size: cover;
  border-radius: 20px;
  transition: 0.3s ease;
  color: rgba(1, 1, 1, 0);
}
.product-number-4:hover {
  z-index: 1;
  border-radius: 5px;
}

.product-number-5 {
  position: relative;
  width: 80%;
  height: 80%;
  background-image: url("../images/products/vino_espumante_prosecco.png");
  background-size: cover;
  border-radius: 20px;
  transition: 0.3s ease;
  color: rgba(1, 1, 1, 0);
}
.product-number-5:hover {
  z-index: 1;
  border-radius: 5px;
}

.product-number-6 {
  position: relative;
  width: 80%;
  height: 80%;
  background-image: url("../images/products/vino_rosado_grenache.png");
  background-size: cover;
  border-radius: 20px;
  transition: 0.3s ease;
  color: rgba(1, 1, 1, 0);
}
.product-number-6:hover {
  z-index: 1;
  border-radius: 5px;
}

.product-number-7 {
  position: relative;
  width: 80%;
  height: 80%;
  background-image: url("../images/products/vino_tinto_cabernet_sauvignon.png");
  background-size: cover;
  border-radius: 20px;
  transition: 0.3s ease;
  color: rgba(1, 1, 1, 0);
}
.product-number-7:hover {
  z-index: 1;
  border-radius: 5px;
}

.product-number-8 {
  position: relative;
  width: 80%;
  height: 80%;
  background-image: url("../images/products/vino_tinto_malbec_reserva.jpeg");
  background-size: cover;
  border-radius: 20px;
  transition: 0.3s ease;
  color: rgba(1, 1, 1, 0);
}
.product-number-8:hover {
  z-index: 1;
  border-radius: 5px;
}

.product-number-9 {
  position: relative;
  width: 80%;
  height: 80%;
  background-image: url("../images/products/vino_tinto_merlot.png");
  background-size: cover;
  border-radius: 20px;
  transition: 0.3s ease;
  color: rgba(1, 1, 1, 0);
}
.product-number-9:hover {
  z-index: 1;
  border-radius: 5px;
}

.product-number-10 {
  position: relative;
  width: 80%;
  height: 80%;
  background-image: url("../images/products/vino_tinto_pinot_noir.png");
  background-size: cover;
  border-radius: 20px;
  transition: 0.3s ease;
  color: rgba(1, 1, 1, 0);
}
.product-number-10:hover {
  z-index: 1;
  border-radius: 5px;
}

.rainbow-bg {
  animation: rainbow-bg 2.5s linear;
  animation-iteration-count: infinite;
}

.rainbow {
  animation: rainbow 2.5s linear;
  animation-iteration-count: infinite;
}

@keyframes rainbow-bg {
  100%, 0% {
    background-color: rgb(255, 0, 0);
  }
  8% {
    background-color: rgb(255, 127, 0);
  }
  16% {
    background-color: rgb(255, 255, 0);
  }
  25% {
    background-color: rgb(127, 255, 0);
  }
  33% {
    background-color: rgb(0, 255, 0);
  }
  41% {
    background-color: rgb(0, 255, 127);
  }
  50% {
    background-color: rgb(0, 255, 255);
  }
  58% {
    background-color: rgb(0, 127, 255);
  }
  66% {
    background-color: rgb(0, 0, 255);
  }
  75% {
    background-color: rgb(127, 0, 255);
  }
  83% {
    background-color: rgb(255, 0, 255);
  }
  91% {
    background-color: rgb(255, 0, 127);
  }
}
@keyframes rainbow {
  100%, 0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Antic Slab";
  color: white;
}

.selected {
  color: rgba(255, 255, 255, 0.5);
}

#about-us-1 {
  top: 0px;
  background-image: url("../images/background_transparent.png");
  background-size: cover;
}

#about-us-2 {
  top: 0px;
  background-image: url("../images/background2_transparent.png");
  background-size: cover;
}

form * {
  margin: 5px 0px 0px 0px;
  border-radius: 5px;
  background-color: rgba(37, 9, 2, 0.5);
}

input {
  border: 1px solid white;
  padding: 5px;
}

textarea {
  border: 1px solid white;
}

label {
  display: inline-block;
  min-width: 140px;
  margin-right: 10px;
}

.main-object-center div {
  padding: 10px;
}

.interactive-map {
  border-radius: 20px;
  height: 300px;
}

.interactive-map-text-container {
  max-width: 50%;
}

img {
  border-radius: 20px;
  max-width: 100%;
  max-height: 100%;
}

.main-picture {
  border: 5px solid rgb(173, 40, 49);
  margin: 0;
}

.space-kids div {
  margin-top: 10px;
}

body {
  background-color: rgb(56, 4, 14);
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

p {
  margin: 5px 8px 5px 8px;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

a:hover {
  text-decoration: none;
  color: black;
}

.icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

li {
  margin: 5px 8px 5px 8px;
}

.navegation ul {
  display: flex;
  flex-direction: row;
  font-size: 22px;
}

.navegation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Hamburger Menu stuff */
.navbar {
  min-height: 0;
  margin: 1px;
  border: none;
}

button {
  background-color: transparent;
  border: none;
}

.navbar-toggler {
  height: 20px;
  width: 20px;
  background-image: url(../images/navbar.png);
  background-size: contain;
  padding: 1px;
}

.desktop-item {
  display: block;
}

.mobile-item {
  display: none;
}

@media (max-width: 830px) {
  .desktop-item {
    display: none !important;
  }
  .mobile-item {
    display: block;
  }
  a {
    font-size: 18px;
  }
  li {
    font-size: 18px;
  }
  .interactive-map-text-container {
    max-width: 100%;
  }
  .main-object-center {
    align-items: center;
    padding: 0px;
  }
  h1 {
    font-size: 30px;
    text-align: center;
  }
  #main-page-section {
    flex-direction: column;
  }
  p {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
}
@media (min-width: 831px) {
  .desktop-item {
    display: block;
  }
  .mobile-item {
    display: none !important;
  }
}

/*# sourceMappingURL=app.css.map */
