#about-us-1 {
    top: 0px;

    background-image: url("../images/backgrounds/background_transparent.png");
    background-size: cover;
}

#about-us-2 {
    top: 0px;

    background-image: url("../images/backgrounds/background2_transparent.png");
    background-size: cover;
}

.padding-30 {
    padding: 30px;
}

.contrast-background {
    background-color: rgba($color: $color-1-rgb, $alpha: 0.5);
}