form * {
    margin: 5px 0px 0px 0px;
    border-radius: 5px;
    background-color: rgba($color-1-rgb, 0.5);
}

input {
    border: 1px solid white;
    padding: 5px;
}

.stamp-background {
    @include stamp-pattern($color-2-rgb, '0.2');
}

.send-button{
    background-color: white;
    color: $color-1-rgb;
    font-weight: 700;
}

textarea {
    border: 1px solid white;
}

label {
    display: inline-block;
    min-width: 140px;
    margin-right: 10px;
}