.main-picture {
  border: 5px solid $color-5-rgb;
  margin: 0;
}

.main-object-center div {
  padding: 10px;
}

#main-page-section {
  height: auto;
  padding-bottom: 30px;
}

.wavy-background {
  @include wavy-pattern($color-2-rgb, '0.05')
}

.secondary-container {
  width: 100%;
  min-height: 300px;

  @include minimalist-cross-pattern($color-1-hex, '0.35')
}

.product-image-link {
  display: flex;
  flex-direction: row;
  justify-content: center;

  height: 100%;

  padding: 30px;
}

.product-image-link img {
  max-height: 200px;
  width: auto;

  margin: 20px;

  transition: 0.5s;
  &:hover{
    max-height: 210px;
    border: 5px solid $color-5-rgb;
    border-radius: 5px;
  }
}

.product-image-description {
  width: 30%;
}

.subtitle {
  color: rgba($color: #ffffff, $alpha: 0.4);
  margin: 0;
}