.desktop-item {
    display: block;
}

.mobile-item {
    display: none;
}

/* ***************************Mobile Mode*************************** */
@media (max-width: 830px) {
    /* Device Exclusive Elements */
    .desktop-item {display: none !important;}
    .mobile-item {display:block;}
    
    /* Tags */
    a {font-size: 18px;}
    li {font-size: 18px;}
    h1 {font-size: 30px; text-align: center;}
    p {text-align: center;}
    h2 {text-align: center;}

    /* Classes for all pages */
    .main-object-center {align-items: center; padding: 0px;}

    /* Header */
    .header-direction {@include direction-row;}

    /* Locations (Sedes) */
    .interactive-map-text-container {max-width: 90%;}

    /* Home (Inicio, Index) */
    #main-page-section {flex-direction: column;}

}

/* ***************************Desktop Mode*************************** */
@media (min-width: 831px) {
    /* Device Exclusive Elements */
    .desktop-item {display: block;}
    .mobile-item {display:none !important;}

    /* Header */
    .header-direction {@include direction-column;}

    /* Locations (Sedes) */
    .interactive-map-text-container {max-width: 50%;}
}

