footer {
    background-color: rgba($color-5-rgb,0.5);
    height: 7%;
    margin-top: auto;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

footer div .icon {
    filter: brightness(0) saturate(100%) invert(98%) sepia(98%) saturate(0%) hue-rotate(323deg) brightness(104%) contrast(102%);
    border-radius: 0;
    padding: 5px;
}