
header {
    background-color: rgba($color-5-rgb,0.9);
    /*height:  15%;*/
    justify-content: space-between;
    position: sticky;
    z-index: 3;
    top: 0px;
}

.header-direction {
}

.navbar {
    display:flex;
    flex-direction: row-reverse;
}

header img {
    height: 50px;
    width: 100px;
}

.navegation ul {
    display: flex;
    flex-direction: row;
    font-size: 22px;
}

.navegation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Hamburger Menu stuff */
.navbar {
    min-height: 0;
    margin: 1px;
    border: none;
}

.collapse {
    background-color: rgba($color-1-rgb,0.4);
    position: sticky;
}

.collapsing {
    background-color: rgba($color-1-rgb,0.4);
    position: sticky;
}

button {
    background-color: transparent;
    border: none;
}

.navbar-toggler {
    height:20px;
    width:20px;
    background-image: url(../images/navbar.png);
    background-size: contain;
    padding: 1px;
    margin: 25px;
}