$color-1-rgb: rgb(37, 9, 2);
$color-1-rgba:rgba(37, 9, 2, 1);

$color-2-rgb:rgb(56, 4, 14);
$color-2-rgba:rgba(56, 4, 14, 1);

$color-3-rgb:rgb(100, 13, 20);
$color-3-rgba:rgba(100, 13, 20, 1);

$color-4-rgb:rgb(128, 14, 19);
$color-4-rgba:rgba(128, 14, 19, 1);

$color-5-rgb:rgb(173, 40, 49);
$color-5-rgba:rgba(173, 40, 49, 1);

$color-selected: rgba(255,255,255,0.5);